body
{
background:black;
}
.dabba
{
position:relative;
top:180px;
width:50%;
height:400px;
background:purple;
margin:auto;
transition: 0.6s;
}
.dabba .name
{
color:white;
}
.dabba .magic
{
position:relative;
top:100px;
left:50px;
}