
{% load static %}
<html>
    <head>
        <title>proj navigation bar</title>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>
    <body>
        <div class="box">

        </div >

        <header>
            <a href="#" class="proj">HospitalManagement</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/page1">Patient</a></li>
                <li><a href="/page2">Doctor</a></li>
                <li><a href="/page3">Digital Monitoring</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <section class="proj1"></section>
        </header>    
    </body>
</html>

