{% load static %}
<html>
  <head>
    <title>Page2</title>
    <link rel="stylesheet" href="{% static 'css/style2.css'%}">
  </head>
  <body>
    <div class="dabba">
      <form class="magic">
        <label>Age</label>
        <input type="text"><br>
        <label>Gender</label>
        <select>
          <option value="male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
        </select><br>
        <label>Diagnosis</label>
        <select>

          <option value="Patient Id">fever</option>
          <option value="No.of Days">fever chills</option>
          <option value="Infrastructure Status">fever cough</option>
          <option value="Doctor Id">perineal abcess</option>
          <option value="Medical Prescription">pregnant</option>
          <option value="Patient Status">appendix</option>
          <option value="Gender">breathig difficulty chest pain</option>
          <option value="Age">dengue</option>
          <option value="Diagnosis Status">asthma</option>
          <option value="Health Condition">Diabetes</option>
          <option value="Health Condition">Scrub</option>
          <option value="Health Condition">open hystestomy</option>
          <option value="Health Condition">viral fever</option>
          <option value="Health Condition">esinophlia</option>
          <option value="Health Condition">headache</option>
          <option value="Health Condition">hypokalimia</option>
          <option value="Health Condition">eftihia</option>
          <option value="Health Condition">acidity</option>
          <option value="Health Condition">typhoid</option>
          <option value="Health Condition">poly arthities</option>
          <option value="Health Condition">vomitings</option>
        </select><br>
        <label>Doctor Id</label>
        <select>

          <option value="Sravan">Sravan</option>
          <option value="Deepthi">Deepthi</option>
          <option value="Bali reddy">Bali reddy</option>
          <option value="SriCharan">SriCharan</option>
          <option value="Srinivasulu">Srinivasulu</option>
          <option value="Vinod">Vinod</option>
          <option value="Dinesh">Dinesh</option>
          <option value="Kalpana">Kalpana</option>
          <option value="Srikar">Srikar</option>
        </select><br>
        <input type="submit">
      </form>
    </div>
  </body>
</html>